.work {
  background-color: @thirdColor;
  color: #fff;
  font-size: 1.5rem;
  text-align: center;
  padding-top: 8rem;
  position: relative;
}

.work__title::after {
  transform: translate(-200%, 1500%);
}

.work__title + p {
  color: #fff0ca;
}

.work__descr {
  display: flex;
}

.work__textBox {
  flex: 1;
  text-align: left;
  line-height: 1.5;
}

.work__priview {
  flex: 2;
  padding: 2rem;
}

.work__name {
  color: #fff0ca;

  div {
    color: #fff;
    font-weight: 900;
  }
}

.work__name::after,
.work__text::after,
.work__web::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #fff;
  display: inline-block;
}

.work__web a {
  color: #fff;
  text-decoration: none;
}

.work__priview-img {
  width: 100%;
  height: 100%;
}

.work__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 80px;
  padding-bottom: 80px;
}

// .work__item {
//   position: relative;
//   margin-left: 50px;
//   margin-right: 50px;
//   width: 150px;
//   height: 150px;
// }

// .work__item:nth-child(5) {
//   margin-left: 200px;
// }

// .work__item:nth-child(7) {
//   margin-right: 200px;
// }

// .work__item::before {
//   content: "";
//   display: inline-block;
//   width: 150px;
//   height: 150px;
//   background-color: #fff0ca;
//   border-radius: 10px;
//   transform: rotate(45deg);
//   position: absolute;
//   top: 0;
//   left: 0;
//   z-index: -1;
//   background-image: url(../../img/work_example1.png);
// }

// .work__item-img {
//   width: 100%;
//   height: 100%;
// }

@cubesize : 150px;

.cube {
  margin: 50px;
  width: @cubesize;
  height: @cubesize;
  position: relative;
  perspective: 5000px;
  // transform: rotate(45deg);
}

.link__top,
.link__right,
.link__bottom,
.link__left {
  position: absolute;
  background-color: transparent;
  width: sqrt(pow(@cubesize, 2) + pow(@cubesize, 2)) /2;
  height: sqrt(pow(@cubesize, 2) + pow(@cubesize, 2)) /2;
  z-index: 10;
}

.link__top {
  transform-origin: 0% 0%;
  transform: rotate(-45deg);
  clip-path: polygon(0% 0%, 100% 100%, 0% 100%);
}

.link__right {
  right: 0;
  bottom: 0;
  clip-path: polygon(0% 0%, 100% 100%, 0% 100%);
  transform-origin: 100% 100%;
  transform: rotate(45deg);
}

.link__bottom {
  bottom: 0;
  right: 0;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%);
  transform-origin: 100% 100%;
  transform: rotate(-45deg);
}

.link__left {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%);
  transform-origin: 0% 0%;
  transform: rotate(45deg);
}

.cube-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: @cubesize;
  height: @cubesize;
  transform-style: preserve-3d;
  transition: all 0.4s ease-in-out;
  transform-origin: @cubesize/2 @cubesize/2 -(@cubesize/2);
}

.link__top:hover,
.link__right:hover,
.link__bottom:hover,
.link__left:hover {
  clip-path: none;
  transform: none;
  height: 100%;
  width: 100%;
  z-index: 20;
}

.link__top:hover ~ .cube-overlay > .cube--backward {
  transform: translate3d(0, 0, -(@cubesize)) rotateY(180deg) rotateZ(180deg);
}

.link__top:hover ~ .cube-overlay {
  transform: rotateX(-180deg);
}

.link__right:hover ~ .cube-overlay > .cube--backward {
  transform: translate3d(0, 0, -(@cubesize)) rotateY(180deg) rotateZ(0deg);
}

.link__right:hover ~ .cube-overlay {
  transform: rotateY(-180deg);
}

.link__bottom:hover ~ .cube-overlay > .cube--backward {
  transform: translate3d(0, 0, -(@cubesize)) rotateY(180deg) rotateZ(180deg);
}

.link__bottom:hover ~ .cube-overlay {
  transform: rotateX(180deg);
}

.link__left:hover ~ .cube-overlay > .cube--backward {
  transform: translate3d(0, 0, -(@cubesize)) rotateY(180deg) rotateZ(0deg);
}

.link__left:hover ~ .cube-overlay {
  transform: rotateY(180deg);
}

.cube--forward,
.cube--left,
.cube--right,
.cube--backward,
.cube--bottom,
.cube--top {
  // backface-visibility: hidden;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 5;
  height: 100%;
  width: 100%;
  background-color: #fff0ca;
  // border-radius: 20px;
}

.cube--left {
  transform-origin: 0% 50%;
  transform: rotateY(90deg);
  background-color: darken(#fff0ca, 10%);
}

.cube--right {
  transform-origin: 100% 50%;
  transform: rotateY(-90deg);
  background-color: darken(#fff0ca, 10%);
}

.cube--backward {
  transform: translate3d(0, 0, -(@cubesize)) rotateX(180deg);
  background-color: #333;
}

.cube--bottom {
  transform-origin: 50% 100%;
  transform: rotateX(90deg);
  background-color: darken(#fff0ca, 10%);
}

.cube--top {
  transform-origin: 50% 0%;
  transform: rotateX(-90deg);
  background-color: darken(#fff0ca, 10%);
}