@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,400,700');
@import (less) "../components/normalize-css/normalize.css";

/* General settings */
html {
  font-family: 'Roboto Slab', serif;
  font-size: 10px;
}

/* General settings */

/* Variables */

@firstColor : #5c5766;
@secondColor: #524664;
@thirdColor : #ffd670;

/* Variables */
